{{#if imageFlag}}
    <div class="ContentNext_image"><img src="{{image}}" alt=""/></div>
{{else}}
    <div class="ContentNext_image"><img class="ContentNext_image" src="images/NoImage.jpg" alt=""/></div>
{{/if}}
<div><img src="images/{{category}}.gif" alt=""/></div>
<div class="ContentNext_title">{{title}}</div>
<div class="ContentNext_content">{{content}}</div>