{{#if imageFlag}}
    <div class="Content_item_image"><img src="{{image}}"/></div>
    <div class="Content_item_category categoryColor_{{category}}">{{category}}</div>
    <div class="Content_item_text">{{title}}</div>
{{else}}
    <div class="Content_item_image"><img src="images/NoImage.jpg"/></div>
    <div class="Content_item_category categoryColor_{{category}}">{{category}}</div>
    <div class="Content_item_text">{{title}}</div>
{{/if}}