{{#if imageFlag}}
    <div class="ContentNext_image"><img src="{{image}}" alt=""/></div>
{{else}}
    <div class="ContentNext_image"><img class="ContentNext_image" src="images/NoImage.jpg" alt=""/></div>
{{/if}}
<div class="ContentNext_title">{{title}}</div>
<div class="ContentNext_content">{{content}}</div>
<div class="ContentNext_refer"><a href="{{site_url}}" target="_blank">{{site_url}}</a></div>